.btn-responsive {
    min-width: 70px;
    min-height: 70px;

    @media (min-width: 576px) and (max-width: 767px) {
      width: 75px;
      height: 75px;
    }
    
    @media (min-width: 768px) and (max-width: 1399px) {
      width: 100px;
      height: 100px;
    }
  
    @media (min-width: 1400px) {
      width: 200px;
      height: 200px;
    }
}

.btn-responsive > span{
  font-size: 30px;

  @media (min-width: 576px){
    font-size: 40px;
  }
}

h1 {
  font-family: 'Courier New', Courier, monospace;
}

#display{
  text-align: end;
}

#display > p{
  font-size: 20px;

  @media (min-width: 576px){
    font-size: 40px;
  }
}

